{% extends 'base1.html' %}

{% block page_title %}Index{% endblock %}

{% block page_content %}
    <div align="center" width="80%">
        <div class="alert alert-primary" role="alert">
          CS2B01 - Platform-Based Development
        </div>
        <img src="/static/images/cs_utec.jpg"/>
        <div class="alert alert-primary" role="alert">
            201410276 --- Luiggi Rodríguez Aliaga 
        </div>
        <div><a href="/students">Get all students</a></div>
        <br/>
        <div><a href="/setStudents">Set student(s)</a></div>

    </div>
{% endblock %}